@include font-face("chadev-lunchables-icons", '../fonts/chadev-lunchables-icons');

%font-icon {
  font-family: "chadev-lunchables-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-icon]:before {
  content: attr(data-icon);
  @extend %font-icon;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  @extend %font-icon;
}

// Mapped using fontastic.me

.icon-face-dislike:before {
  content: "s";
}
.icon-face-neutral:before {
  content: "m";
}
.icon-face-like:before {
  content: "h";
}
