//  Colors
$blue-dark: #0E8CB8;
$blue: #15A8DB;

$gray-darker: #363637;
$gray-dark: #535456;
$gray: #919295;
$gray-light: #D9DADC;
$gray-lighter: #EFF0F2;

$red-light: #FBE3E4;
$yellow-light: #FFF6BF;
$green-light: #E6EFC2;

$white: #FFF;
$black: #000;
