//  Colors
$blue: #64A0f7;
$yellow: #FAEC24;

$gray-dark: #333;
$gray: #999;
$gray-light: #DDD;

$red-light: #FBE3E4;
$yellow-light: #FFF6BF;
$green-light: #E6EFC2;

$white: #FFF;
$black: #000;

$shade: darken($blue, 18%);
