@include font-face(BrandonGrotesque, '../fonts/brandon_blk-webfont', bold);

// Typography
$base-font-family: "BrandonGrotesque", Helvetica;
$header-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

$font-size-xxxxs:     $base-font-size * 0.7;
$font-size-xxxs:      $base-font-size * 0.75;
$font-size-xxs:       $base-font-size * 0.8;
$font-size-xs:        $base-font-size * 0.85;
$font-size-sm:        $base-font-size * 0.9;
$font-size-md:        $base-font-size;
$font-size-lg:        $base-font-size * 1.25;
$font-size-xl:        $base-font-size * 1.5;
$font-size-xxl:       $base-font-size * 1.75;
$font-size-xxxl:      $base-font-size * 2;
$font-size-xxxxl:     $base-font-size * 2.25;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;
