@mixin closed-text-shadow($depth, $color) {
  $shadows: ();
  $shadow-top: 0;
  $shadow-bottom: 0.005em;
  $shadow-step: 0.005em;

  @for $i from 0 through $depth {
    $shadows: append($shadows, append($shadow-top - $i * $shadow-step $shadow-bottom + $i * $shadow-step, $color), comma);
    $shadows: append($shadows, append($shadow-bottom - $i * $shadow-step $shadow-top + $i * $shadow-step, $color));
  }

  text-shadow: $shadows;
}
