@font-face {
  font-family: BrandonGrotesque;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/brandon_reg-webfont.eot");
  src: url("../fonts/brandon_reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_reg-webfont.woff") format("woff"), url("../fonts/brandon_reg-webfont.ttf") format("truetype"), url("../fonts/brandon_reg-webfont.svg#BrandonGrotesque") format("svg"); }
@font-face {
  font-family: BrandonGrotesque;
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/brandon_blk-webfont.eot");
  src: url("../fonts/brandon_blk-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_blk-webfont.woff") format("woff"), url("../fonts/brandon_blk-webfont.ttf") format("truetype"), url("../fonts/brandon_blk-webfont.svg#BrandonGrotesque") format("svg"); }
@-webkit-keyframes moveInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }
@-moz-keyframes moveInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }
@keyframes moveInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    transform: translateY(-2000px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px); }
  40% {
    opacity: 1;
    -webkit-transform: translateY(50px); }
  60% {
    -webkit-transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }
@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px); }
  40% {
    opacity: 1;
    -moz-transform: translateY(50px); }
  60% {
    -moz-transform: translateY(-20px); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }
@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    transform: translateY(-2000px); }
  40% {
    opacity: 1;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px); }
  60% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes bounceIn {
  0%, 30%, 40%, 60%, 70%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0); }
  30% {
    opacity: 1;
    -webkit-transform: scale3d(1.2, 1.2, 1.2); }
  40% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95); }
  60% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02); }
  70% {
    -webkit-transform: scale3d(0.98, 0.98, 0.98); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1); } }
@-moz-keyframes bounceIn {
  0%, 30%, 40%, 60%, 70%, 100% {
    -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -moz-transform: scale3d(0, 0, 0); }
  30% {
    opacity: 1;
    -moz-transform: scale3d(1.2, 1.2, 1.2); }
  40% {
    -moz-transform: scale3d(0.95, 0.95, 0.95); }
  60% {
    -moz-transform: scale3d(1.02, 1.02, 1.02); }
  70% {
    -moz-transform: scale3d(0.98, 0.98, 0.98); }
  100% {
    opacity: 1;
    -moz-transform: scale3d(1, 1, 1); } }
@keyframes bounceIn {
  0%, 30%, 40%, 60%, 70%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
    -moz-transform: scale3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 0);
    -o-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0); }
  30% {
    opacity: 1;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -moz-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    -o-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2); }
  40% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    -moz-transform: scale3d(0.95, 0.95, 0.95);
    -ms-transform: scale3d(0.95, 0.95, 0.95);
    -o-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95); }
  60% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    -moz-transform: scale3d(1.02, 1.02, 1.02);
    -ms-transform: scale3d(1.02, 1.02, 1.02);
    -o-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02); }
  70% {
    -webkit-transform: scale3d(0.98, 0.98, 0.98);
    -moz-transform: scale3d(0.98, 0.98, 0.98);
    -ms-transform: scale3d(0.98, 0.98, 0.98);
    -o-transform: scale3d(0.98, 0.98, 0.98);
    transform: scale3d(0.98, 0.98, 0.98); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0); }
  75% {
    -webkit-transform: translate3d(0, 10px, 0); }
  90% {
    -webkit-transform: translate3d(0, -5px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }
@-moz-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    -moz-transform: translate3d(0, -20px, 0); }
  75% {
    -moz-transform: translate3d(0, 10px, 0); }
  90% {
    -moz-transform: translate3d(0, -5px, 0); }
  100% {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0); } }
@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    -moz-transform: translate3d(0, 3000px, 0);
    -ms-transform: translate3d(0, 3000px, 0);
    -o-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    -moz-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    -o-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    -o-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    -moz-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    -o-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0); }
  40%, 43% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, -30px, 0); }
  70% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0); } }
@-moz-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transform: translate3d(0, 0, 0); }
  40%, 43% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transform: translate3d(0, -30px, 0); }
  70% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transform: translate3d(0, -15px, 0); }
  90% {
    -moz-transform: translate3d(0, -4px, 0); } }
@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, -30px, 0);
    -moz-transform: translate3d(0, -30px, 0);
    -ms-transform: translate3d(0, -30px, 0);
    -o-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, -15px, 0);
    -moz-transform: translate3d(0, -15px, 0);
    -ms-transform: translate3d(0, -15px, 0);
    -o-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    -moz-transform: translate3d(0, -4px, 0);
    -ms-transform: translate3d(0, -4px, 0);
    -o-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }
@-webkit-keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0); }
  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0); } }
@-moz-keyframes bounceOutDown {
  20% {
    -moz-transform: translate3d(0, 10px, 0); }
  40%, 45% {
    opacity: 1;
    -moz-transform: translate3d(0, -20px, 0); }
  100% {
    opacity: 0;
    -moz-transform: translate3d(0, 2000px, 0); } }
@keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    -o-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    -moz-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    -o-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    -moz-transform: translate3d(0, 2000px, 0);
    -ms-transform: translate3d(0, 2000px, 0);
    -o-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); } }
@-webkit-keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0); }
  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0); } }
@-moz-keyframes bounceOutUp {
  20% {
    -moz-transform: translate3d(0, -10px, 0); }
  40%, 45% {
    opacity: 1;
    -moz-transform: translate3d(0, 20px, 0); }
  100% {
    opacity: 0;
    -moz-transform: translate3d(0, -2000px, 0); } }
@keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    -moz-transform: translate3d(0, -2000px, 0);
    -ms-transform: translate3d(0, -2000px, 0);
    -o-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); } }
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
/* line 2, /Users/fixie/.rvm/gems/ruby-2.1.2/gems/neat-1.7.0/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 7, /Users/fixie/.rvm/gems/ruby-2.1.2/gems/neat-1.7.0/app/assets/stylesheets/grid/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* line 1, /Users/fixie/.rvm/gems/ruby-2.1.2/gems/bitters-0.10.1/app/assets/stylesheets/extends/_button.scss */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #15A8DB;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  /* line 13, /Users/fixie/.rvm/gems/ruby-2.1.2/gems/bitters-0.10.1/app/assets/stylesheets/extends/_button.scss */
  button:hover,
  input[type="submit"]:hover {
    background-color: #0e7295;
    color: white; }
  /* line 18, /Users/fixie/.rvm/gems/ruby-2.1.2/gems/bitters-0.10.1/app/assets/stylesheets/extends/_button.scss */
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

/* line 1, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/base/elements/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: #FFF;
  color: #535456;
  font-family: "BrandonGrotesque", Helvetica;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.5; }

/* line 11, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/base/elements/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "BrandonGrotesque", Helvetica;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

/* line 23, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/base/elements/_typography.scss */
h1 {
  font-size: 2.25em; }

/* line 27, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/base/elements/_typography.scss */
h2 {
  font-size: 2em; }

/* line 31, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/base/elements/_typography.scss */
h3 {
  font-size: 1.75em; }

/* line 35, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/base/elements/_typography.scss */
h4 {
  font-size: 1.5em; }

/* line 39, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/base/elements/_typography.scss */
h5 {
  font-size: 1.25em; }

/* line 43, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/base/elements/_typography.scss */
h6 {
  font-size: 1em; }

/* line 47, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/base/elements/_typography.scss */
p {
  margin: 0 0 0.75rem; }

/* line 51, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/base/elements/_typography.scss */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #15A8DB;
  text-decoration: none; }
  /* line 56, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/base/elements/_typography.scss */
  a:hover {
    color: #0e7295; }
  /* line 60, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/base/elements/_typography.scss */
  a:active, a:focus {
    color: #0e7295;
    outline: none; }

/* line 66, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/base/elements/_typography.scss */
hr {
  border-bottom: 1px solid #D9DADC;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5rem 0; }

/* line 74, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/base/elements/_typography.scss */
img,
picture {
  margin: 0;
  max-width: 100%; }

/* line 80, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/base/elements/_typography.scss */
blockquote {
  border-left: 2px solid #D9DADC;
  color: #797a7d;
  margin: 1.5rem 0;
  padding-left: 0.75rem; }

/* line 87, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/base/elements/_typography.scss */
cite {
  color: #929496;
  font-style: italic; }
  /* line 91, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/base/elements/_typography.scss */
  cite:before {
    content: "\2014 \00A0"; }

/* line 96, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/base/elements/_typography.scss */
button {
  font-family: "BrandonGrotesque", Helvetica; }

/* line 1, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/base/elements/_buttons.scss */
* {
  -webkit-tap-highlight-color: transparent; }

/* line 3, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/base/elements/_buttons.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

@font-face {
  font-family: "chadev-lunchables-icons";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/chadev-lunchables-icons.eot");
  src: url("../fonts/chadev-lunchables-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/chadev-lunchables-icons.woff") format("woff"), url("../fonts/chadev-lunchables-icons.ttf") format("truetype"), url("../fonts/chadev-lunchables-icons.svg#chadev-lunchables-icons") format("svg"); }
/* line 3, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/base/icons/_font-icons.scss */
[data-icon]:before, [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "chadev-lunchables-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 15, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/base/icons/_font-icons.scss */
[data-icon]:before {
  content: attr(data-icon); }

/* line 26, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/base/icons/_font-icons.scss */
.icon-face-dislike:before {
  content: "s"; }

/* line 29, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/base/icons/_font-icons.scss */
.icon-face-neutral:before {
  content: "m"; }

/* line 32, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/base/icons/_font-icons.scss */
.icon-face-like:before {
  content: "h"; }

/* line 1, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_layout.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

/* line 7, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_layout.scss */
body {
  background: #15A8DB url("../images/background-patterns/science-illustration.png");
  text-align: center;
  -webkit-transition: font-size 0.2s;
  -moz-transition: font-size 0.2s;
  transition: font-size 0.2s; }
  @media screen and (min-width: 401px) {
    /* line 7, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_layout.scss */
    body {
      font-size: 1.25em; } }
  @media screen and (min-width: 768px) {
    /* line 7, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_layout.scss */
    body {
      font-size: 1.5em; } }
  @media screen and (min-width: 1024px) {
    /* line 7, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_layout.scss */
    body {
      font-size: 2em; } }

/* line 1, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
.voting-booth {
  color: #FFF;
  width: 100%;
  height: 100%; }

/* line 7, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
.voting-booth-align-middle-container {
  display: table;
  width: 100%;
  height: 100%; }

/* line 13, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
.voting-booth-align-middle {
  display: table-cell;
  vertical-align: middle; }

/* line 18, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
.branding {
  margin: 0 0 1rem;
  text-align: center;
  opacity: 0; }
  /* line 22, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
  .voting-booth.is-voting .branding {
    -webkit-animation: moveInDown 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation: moveInDown 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    animation: moveInDown 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

/* line 28, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
.branding-logo {
  width: 120px; }

/* line 32, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
.voting-booth-question {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0; }
  /* line 35, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
  .voting-booth.is-voting .voting-booth-question {
    opacity: 1; }

/* line 40, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
.voting-booth-prompt {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.75em;
  line-height: 1.1;
  margin-bottom: 2rem;
  opacity: 0; }
  /* line 47, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
  .voting-booth.is-voting .voting-booth-prompt {
    -webkit-animation: moveInDown 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation: moveInDown 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    animation: moveInDown 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    animation-delay: 0.25s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  @media screen and (orientation: portrait) {
    /* line 40, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
    .voting-booth-prompt {
      margin-bottom: 3rem;
      font-size: 2.7em; } }

/* line 58, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
.voting-booth-items {
  margin: 0;
  padding: 0;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  /* line 15, /Users/fixie/.rvm/gems/ruby-2.1.2/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
  .voting-booth-items:after {
    content: "";
    display: table;
    clear: both; }

/* line 64, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
.voting-booth-item {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  list-style: none;
  color: #FFF;
  opacity: 0;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  /* line 85, /Users/fixie/.rvm/gems/ruby-2.1.2/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
  .voting-booth-item:last-child {
    margin-right: 0; }
  /* line 72, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
  .voting-booth.is-voting .voting-booth-item {
    -webkit-animation: bounceIn 0.95s;
    -moz-animation: bounceIn 0.95s;
    animation: bounceIn 0.95s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s; }

/* line 79, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
.voting-booth-item-action {
  padding: 0;
  background: transparent !important;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 1; }
  /* line 85, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
  .voting-booth-item-action i {
    font-size: 6.75em; }
    @media screen and (orientation: portrait) {
      /* line 85, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
      .voting-booth-item-action i {
        font-size: 5.625em; } }
  /* line 91, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
  .voting-booth-item.has-mousedown .voting-booth-item-action {
    -webkit-transition: -webkit-transform 0.05s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: -moz-transform 0.05s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.05s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9); }
  /* line 95, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
  .voting-booth-item.has-mouseup .voting-booth-item-action {
    -webkit-transition: -webkit-transform 0.05s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: -moz-transform 0.05s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.05s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    -o-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    opacity: 0.25; }
  /* line 100, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
  .voting-booth-item-action:focus {
    outline: 0; }

/* line 105, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
.voting-booth-item-description {
  font-size: 1.75em;
  margin-top: -1rem; }

/* line 110, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
.voting-booth-results-container {
  background: #363637 url("../images/background-patterns/science-illustration.png");
  position: fixed;
  height: 110%;
  width: 100%;
  top: 0;
  display: none; }
  /* line 117, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
  .voting-booth.is-viewing-thanks .voting-booth-results-container, .voting-booth.has-seen-thanks .voting-booth-results-container, .voting-booth.is-viewing-results .voting-booth-results-container {
    display: table; }

/* line 122, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
.voting-booth-thanks-prompt {
  height: 100%;
  padding-bottom: 3rem;
  display: none; }
  /* line 126, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
  .voting-booth-thanks-prompt.is-active {
    display: table-cell; }
  /* line 129, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
  .voting-booth.is-viewing-thanks .voting-booth-thanks-prompt {
    -webkit-animation: bounceInUp 0.75s;
    -moz-animation: bounceInUp 0.75s;
    animation: bounceInUp 0.75s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  /* line 133, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
  .voting-booth.has-seen-thanks .voting-booth-thanks-prompt {
    -webkit-animation: bounceOutUp 0.75s;
    -moz-animation: bounceOutUp 0.75s;
    animation: bounceOutUp 0.75s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  /* line 137, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
  .voting-booth-thanks-prompt i {
    font-size: 3.375em; }

/* line 142, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
.voting-booth-thanks-prompt-title {
  margin-top: -1rem;
  padding: 0 1rem;
  text-transform: uppercase;
  line-height: 1.1em;
  font-size: 2em; }

/* line 150, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
.voting-booth-thanks-prompt-subtitle {
  font-size: 1.25em; }

/* line 154, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
.voting-booth-results {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 7rem; }

/* line 162, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
.voting-booth-results-footer {
  width: 100%;
  height: 7rem;
  padding-top: 1rem;
  opacity: 0; }
  /* line 167, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
  .voting-booth-results-footer p {
    margin: 0; }
  /* line 170, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
  .voting-booth.is-viewing-results .voting-booth-results-footer {
    -webkit-animation: bounceInUp 0.65s;
    -moz-animation: bounceInUp 0.65s;
    animation: bounceInUp 0.65s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s; }

/* line 177, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
.voting-booth-byline {
  font-weight: normal;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9em; }
  /* line 181, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_voting-booths.scss */
  .voting-booth-byline a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: underline; }

/* line 1, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_bar-chart.scss */
.bar-chart {
  height: 100%;
  margin: 0;
  padding: 1rem 2rem; }
  /* line 5, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_bar-chart.scss */
  .voting-booth.is-viewing-results .bar-chart {
    -webkit-animation: bounceInUp 0.65s;
    -moz-animation: bounceInUp 0.65s;
    animation: bounceInUp 0.65s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

/* line 11, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_bar-chart.scss */
.bar-chart-item {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  height: 100%;
  position: relative; }
  /* line 85, /Users/fixie/.rvm/gems/ruby-2.1.2/gems/neat-1.7.0/app/assets/stylesheets/grid/_span-columns.scss */
  .bar-chart-item:last-child {
    margin-right: 0; }

/* line 17, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_bar-chart.scss */
.bar-chart-item-label, .bar-chart-item-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

/* line 24, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_bar-chart.scss */
.bar-chart-item-count {
  opacity: 0;
  margin-top: -2.5rem; }
  /* line 27, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_bar-chart.scss */
  .voting-booth.is-viewing-results .bar-chart-item-count {
    -webkit-animation: bounceIn 1s;
    -moz-animation: bounceIn 1s;
    animation: bounceIn 1s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
    @media screen and (min-width: 768px) {
      /* line 27, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_bar-chart.scss */
      .voting-booth.is-viewing-results .bar-chart-item-count {
        margin-top: -3.2rem; } }

/* line 37, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_bar-chart.scss */
.bar-chart-item-bar {
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  height: 0; }
  /* line 42, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_bar-chart.scss */
  .has-new-vote .bar-chart-item-bar {
    background: rgba(255, 255, 255, 0.6); }

/* line 47, /Users/fixie/projects/chadev-voting-booth/source/stylesheets/modules/_bar-chart.scss */
.bar-chart-item-label {
  font-size: 4.5em;
  bottom: 0;
  line-height: 0;
  z-index: 5000; }
