.bar-chart {
  height: 100%;
  margin: 0;
  padding: 1rem 2rem;
  .voting-booth.is-viewing-results & {
    @include animation(bounceInUp 0.65s);
    @include animation-fill-mode(forwards);
  }
}

.bar-chart-item {
  @include span-columns(4);
  height: 100%;
  position: relative;
}

.bar-chart-item-label, .bar-chart-item-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.bar-chart-item-count {
  opacity: 0;
  margin-top: -2.5rem;
  .voting-booth.is-viewing-results & {
    @include animation(bounceIn 1s);
    @include animation-delay(2s);
    @include animation-fill-mode(forwards);
    @include media($screen-md) {
      margin-top: -3.2rem;
    }
  }
}

.bar-chart-item-bar {
  @include transition(all 0.3s $base-easing);
  background: rgba($white, 0.4);
  border-radius: 5px;
  height: 0;
  .has-new-vote & {
    background: rgba($white, 0.6);
  }
}

.bar-chart-item-label {
  font-size: $font-size-xxxxl * 2;
  bottom: 0;
  line-height: 0;
  z-index: 5000;
}
