body {
  background: $blue image-url("background-patterns/science-illustration.png");
  text-align: center;
  @include transition(font-size 0.2s);
  @include media($screen-sm) {
    font-size: $font-size-lg;
  }
  @include media($screen-md) {
    font-size: $font-size-xl;
  }
  @include media($screen-lg) {
    font-size: $font-size-xxxl;
  }
}

.branding {
  margin: 3rem 0 1rem;
  text-align: center;
  opacity: 0;
  .voting-booth.is-active & {
    @include animation(moveInDown 0.5s $base-easing);
    @include animation-fill-mode(forwards);
  }
  @include media($screen-sm) {
    margin-top: 5rem;
  }
}

.branding-logo {
  width: 90px;
  @include media($screen-sm) {
    width: 120px;
  }
}
