body {
  background-color: $blue;
  text-align: center;
  margin-top: 2em;
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 15em;
  color: $white;
  @include closed-text-shadow(5, $blue-dark);
  @include animation(bounceInDown 1s);
}

.logo {
  width: 250px;
}
