.voting-booth {
  color: $white;
  @include transition(font-size 0.2s);
  @include media($screen-sm) {
    font-size: $font-size-lg;
  }
  @include media($screen-md) {
    font-size: $font-size-xl;
  }
  @include media($screen-lg) {
    font-size: $font-size-xxxl;
  }
}

.voting-booth-prompt {
  text-transform: uppercase;
  @include closed-text-shadow(15, $blue-dark);
  margin-bottom: 5rem;
  letter-spacing: 0.1em;
  font-size: $font-size-xxxl;
}

.voting-booth-items {
  margin: 0;
  padding: 0;
  @include outer-container;
}

.voting-booth-item {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  list-style: none;
  color: $white;
  @include animation(bounceInDown 1s);
  @include span-columns(4);
}

.voting-booth-item-action {
  padding: 0;
  background: transparent !important;
  @include closed-text-shadow(5, $blue-dark);
  i {
    font-size: $font-size-xxxxl * 3;
  }
}

.voting-booth-item-description {
  font-size: $font-size-xxl;
  margin-top: -1rem;
}
