.voting-booth {
  color: $white;
}

.voting-booth-prompt {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: $font-size-xxxl;
  margin-bottom: 2rem;
  opacity: 0;
  @include closed-text-shadow(15, $blue-dark);
  @include animation(moveInDown 0.5s $base-easing);
  @include animation-delay(0.2s);
  @include animation-fill-mode(forwards);
  @include media($screen-sm) {
    margin-bottom: 5rem;
  }
}

.voting-booth-items {
  margin: 0;
  padding: 0;
  @include outer-container;
}

.voting-booth-item {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  list-style: none;
  color: $white;
  opacity: 0;
  @include animation(bounceIn 1s);
  @include animation-fill-mode(forwards);
  @include animation-delay(0.75s);
  @include span-columns(4);
}

.voting-booth-item-action {
  padding: 0;
  background: transparent !important;
  @include transform(scale3d(1, 1, 1));
  @include user-select(none);
  i {
    @include closed-text-shadow(5, $blue-dark);
    font-size: $font-size-xxxxl * 3;
  }
  &:active {
    @include transition-timing-function($base-easing);
    @include transform(scale3d(.9, .9, .9));
  }
  &:focus {
    outline: 0;
  }
}

.voting-booth-item-description {
  font-size: $font-size-xxl;
  margin-top: -1rem;
  @include closed-text-shadow(18, $blue-dark);
}
