.voting-booth {
  color: $white;
}

.voting-booth-question {
  @include transition(opacity 0.5s);
  opacity: 0;
  .voting-booth.is-active & {
    opacity: 1;
  }
}

.voting-booth-prompt {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: $font-size-xxl;
  margin-bottom: 2rem;
  opacity: 0;
  .voting-booth.is-active & {
    @include animation(moveInDown 0.5s $base-easing);
    @include animation-delay(0.25s);
    @include animation-fill-mode(forwards);
  }
  @include media($screen-sm) {
    margin-bottom: 5rem;
  }
}

.voting-booth-items {
  margin: 0;
  padding: 0;
  @include outer-container;
}

.voting-booth-item {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  list-style: none;
  color: $white;
  opacity: 0;
  @include span-columns(4);
  .voting-booth.is-active & {
    @include animation(bounceIn 0.95s);
    @include animation-fill-mode(forwards);
    @include animation-delay(0.8s);
  }
}

.voting-booth-item-action {
  padding: 0;
  background: transparent !important;
  @include transform(scale3d(1, 1, 1));
  @include user-select(none);
  i {
    font-size: $font-size-xxxxl * 3.5;
  }
  .voting-booth-item.is-active & {
    @include transition(transform 0.05s $base-easing);
    @include transform(scale3d(.7, .7, .7));
  }
  &:focus {
    outline: 0;
  }
}

.voting-booth-item-description {
  font-size: $font-size-xxl;
  margin-top: -1rem;
}

.voting-booth-result {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: $gray-darker image-url("background-patterns/science-illustration.png");
  @include animation-fill-mode(forwards);
  display: none;
  &.has-voted {
    @include animation(bounceInUp 0.75s);
    display: block;
  }
  &.has-seen-results {
    @include animation(bounceOutDown 0.65s);
    display: block;
  }
}

.voting-booth-result-inner {
  position: relative;
  top: 50%;
  margin-top: -9rem;
  i {
    font-size: $font-size-xxxxl * 1.5;
  }
}

.voting-booth-result-title {
  margin-top: -1rem;
  padding: 0 1rem;
  text-transform: uppercase;
  line-height: 1.1em;
  font-size: $font-size-xxxl;
}

.voting-booth-result-subtitle {
  font-size: $font-size-lg;
}
